/* Start Variables */
/* End Variables */

/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
.header {
  background-image: url(../images/landing.jpg);
  background-size: cover;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  height: 2px;
  background-color: #726f71;
  bottom: -2px;
}
.header .logo img {
  height: 40px;
}
.header .container .nav {
  flex: 1;
}
.header .container .nav ul li {
  display: inline-block;
}
/* End Header */
