/* Start Variables */
:root {
  --main-color: rgba(0, 199, 252, 255);
  --transparent-color: rgb(15 116 143/70%);
}
/* End Variables */

/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components */
.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.special h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  /* margin-top: 80px; */
  color: rgba(31, 32, 33, 255);
  position: relative;
}

.special h2::before {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  background-color: black;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.special h2::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -26px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.special p {
  font-size: 13px;
  font-weight: 300;
  color: rgba(168, 168, 168, 255);
  margin-top: 40px;
  margin-bottom: 100px;
  max-width: 500px;
  line-height: 1.8;
}
/* End Components */

/* Start Header */
.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
.header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  height: 2px;
  background-color: #726f71;
  bottom: 0px;
}
.header .logo img {
  height: 40px;
}
.header .container .nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .container .nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .header .container .nav .toggle-menu {
    display: none;
  }
}

.header .container .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header .container .nav ul {
    display: none;
  }
  .header .container .nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .header .container .nav .toggle-menu + ul li a {
    padding: 15px;
  }
}

.header .container .nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container .nav ul li a.active,
.header .container .nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.header .nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 40px;
  border-left: solid 3px white;
}
.header .nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 30px;
  line-height: 1.8;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .landing .text .content h2 {
    font-size: 25px;
  }
}

.landing .text .content p {
  font-size: 13px;
  line-height: 1.8;
  padding-bottom: 20px;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  font-size: 25px;
}
@media (max-width: 767px) {
  .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* End Landing */

/* Start Services */
.services {
  padding-top: 80px;
  margin-bottom: 125px;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 70px;

  justify-content: space-between;
}
@media (min-width: 768px) {
  .services-content {
    margin-left: 15px;
  }
}
.services-content .col {
  display: flex;
  flex-direction: column;
}
.services-content .col .srv:first-child {
  margin-bottom: 60px;
}
.services-content .col .srv {
  display: flex;
}

.services-content .srv .icon {
  width: 50px;
  height: 50px;
  font-size: 35px;
  /* padding-left: 20px; */
}

.services-content .srv .text {
  padding-left: 60px;
  flex: 1;
}
@media (max-width: 767px) {
  .services-content .col .srv {
    flex-direction: column;
    align-items: center;
  }
  .services-content .srv .icon {
    text-align: center;
    margin-bottom: 10px;
  }
  .services-content .srv .text {
    padding: 0;
    text-align: center;
  }
}
.services-content .srv .text h2 {
  font-size: 20px;
  color: var(--main-color);
  font-weight: normal;
}
.services-content .srv .text p {
  line-height: 1.8;
  font-size: 13px;
  margin-top: 15px;
  color: rgba(168, 168, 168, 255);
}
/* End Services */
/* Start Design */
.design {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 600px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.design .image {
  position: relative;
  text-align: center;
  bottom: -130px;
  flex: 1;
}
.design .text {
  width: 50%;
  background-color: var(--transparent-color);
  display: flex;
  padding: 50px;
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.design .text .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: white;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
  .design .text {
    width: 100%;
  }
}
.design .text .content h4 {
  font-weight: normal;
  font-size: 20px;
}
.design .text .content .resp {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.design .text .content .resp .design1 {
  display: flex;
  gap: 20px;
}
.design .text .content .resp .design1 i {
  font-size: 20px;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
}

.design .text .content .resp .design1 p {
  flex: 1;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
}

.portfolio ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.portfolio ul li {
  padding: 10px 20px;
  transition: 0.5s;
  color: rgba(31, 32, 33, 255);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio ul li.active,
.portfolio ul li:hover {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .portfolio .container ul {
    flex-direction: column;
    align-items: center;
  }
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  bottom: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
}
.portfolio .imgs-container .box .caption p {
  font-size: 13px;
  color: var(--main-color);
}
.portfolio .more {
  color: white;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--main-color);
  text-decoration: none;
  margin: 50px auto auto auto;
  display: block;
  width: fit-content;
  text-transform: uppercase;
}
/* End Portfolio */
/* Start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  padding: 40px 0;
  text-align: center;
  background-color: var(--transparent-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.video .text h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}
.video .text p {
  font-size: 13px;
  margin-bottom: 25px;
}
.video .text button {
  color: white;
  padding: 3px 15px;
  background-color: black;
  border: 0;
}
@media (max-width: 767px) {
  .video .text {
    padding: 20px 0;
  }
  .video .text h2 {
    font-size: 20px;
  }
}
/* End video */
/* Start About */
.about {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.about .image {
  margin-top: -140px;
  position: relative;
  /*left: 50%;*/
  bottom: -140px;
  /* transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); */
}
.about img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .about .image {
    margin-top: -60px;
    position: relative;
    /*left: 50%;*/
    bottom: -60px;
    /* transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); */
  }
}

/* End About */
/* Start Stat */
.stat {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/stats.png);
  text-align: center;
  position: relative;
}
.stat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.stat .container {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.stat .container .box {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}
@media (max-width: 767px) {
  .stat .container .box {
    flex-basis: 100%;
  }
  .stat .container .box:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}
@media (min-width: 768px) {
  .stat .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stat .container .box {
    flex-basis: 25%;
  }
}
.stat .container .box i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.stat .container .box h2 {
  font-size: 51px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.stat .container .box p {
  font-size: 13px;
  font-weight: 300;
}
/* End Stat */
/* Start Skills */
.our-skills {
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.our-skills .container > div > p {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px;
}
.our-skills .container .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .container .testimonials .content img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .our-skills .container .testimonials .content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .our-skills .container .testimonials .content img {
    margin-bottom: 20px;
  }
}
.our-skills .container .testimonials .text {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
  color: rgba(31, 32, 33, 255);
}
.our-skills .container .testimonials .text p {
  font-style: italic;
  text-align: right;
  color: rgba(168, 168, 168, 255);
  margin-bottom: 10px;
}
.our-skills .container .testimonials .bullets {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.our-skills .container .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #777;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-skills .container .testimonials .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 15px;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  width: 40px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent transparent;
  top: -15px;
  right: -8px;
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.quote q {
  font-weight: 600;
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}
/* .quote q::before {
  font-family: "Font Awesome 5 free";
  content: "\f10d";
  font-size: 10px;
  /* position: absolute;
  top: -2px;
  left: 20px; 
}
.quote q::after {
  font-family: "Font Awesome 5 free";
  content: "\f10e";
  font-size: 10px;
  /* position: absolute;
  bottom: 15px;
  right: 422px; 
} */
.quote span {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 13px;
}
/* End Quote */

/* Start Pricing */
.pricing {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  text-align: center;
}
.pricing .plans .plan .head {
  border-top: var(--main-color) solid 1px;
  border-bottom: var(--main-color) solid 1px;
  padding: 40px 30px;
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-weight: 600;
  font-size: 60px;
  position: relative;
  display: block;
}
.pricing .plans .plan .head span::before {
  content: "$";
  position: relative;
  font-weight: 600;
  font-size: 21px;
  /* left: 25px; */
  top: -30px;
  margin-right: 20px;
}
.pricing .plans .plan .head span::after {
  content: "/MO";
  position: relative;
  font-weight: 600;
  font-size: 13px;
  bottom: 0;
  margin-left: 20px;
}
.pricing .plans .plan ul {
  border-bottom: var(--main-color) solid 1px;
}

.pricing .plans .plan ul li {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 25px 0;
}

.pricing .plans .plan ul li:not(:last-child) {
  border-bottom: var(--main-color) solid 1px;
}
.pricing .plans .plan .foot {
  margin-top: 40px;
}
.pricing .plans .plan .foot a {
  border: 1px solid var(--main-color);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  color: black;
}
.pricing .contact-text {
  width: fit-content;
  margin: 70px auto 40px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  background-color: var(--main-color);
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  position: relative;
  /* flex: 1; */
  max-width: 100%;
}

.subscribe .container form ::placeholder {
  color: white;
}
.subscribe .container form i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.subscribe .container form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  color: white;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-right: none;
}
.subscribe .container form input[type="submit"] {
  width: 130px;
  color: white;
  background-color: var(--main-color);
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
}
.subscribe .container form input:focus {
  outline: none;
}
.subscribe p {
  line-height: 1.8;
  margin-left: 50px;
  max-width: 400px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
    text-align: center;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact .content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contact .content form {
  flex-basis: 70%;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: auto;
  display: flex;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4 {
  color: rgba(31, 32, 33, 255);
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 16px;
}
.contact .content .info .phone {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  color: #777;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact .content .info address {
  line-height: 1.8;
  font-style: normal;
  color: #777;
}
@media (max-width: 767px) {
  .contact .content .info {
    text-align: center;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
  .contact .content form input[type="submit"] {
    margin: auto;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 30px;
}
.footer p:not(.copyright) {
  font-size: 20px;
  padding: 20px;
  margin: 20px auto;
  border-bottom: 1px solid white;
  width: fit-content;
}
.footer .social-icons i {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.footer .copyright {
  padding: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
}
.footer .copyright span {
  color: var(--main-color);
}
/* End Footer */
